html, body { height: 100%; }
body {
    margin: 0;
    overflow: hidden;
    background: black;
}
#site-header {
    margin:auto;
    text-align:center;
}
#contact-list {
    margin:auto;
    text-align:center;
    display: block;
    width: 50%;
    padding: 7rem;
}

nav ul{
    font-family: 'Bentham', serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;

}
nav ul li{
    display: inline;
    margin-left: 20px;
}
nav ul.home{
    font-family: 'Bentham', serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    writing-mode: vertical-lr;
}
footer ul {
    font-family: 'Bentham', serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
a.nav {
    text-decoration: none;
    color: #DFC7A4;
    opacity: .5;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    transition:opacity .3s
}
a.nav:hover {
    color: #f2e8d9;
    opacity: 1;
}
a.footer {
    text-decoration: none;
    color: #DFC7A4;
}
a.footer:hover {
    color: #f2e8d9;
    opacity: 1;
}

a.text {
    text-decoration: none;
    color: #DFC7A4;
}
a.text:hover {
    color: #f2e8d9;
    opacity: 1;
}

h1 {
    font-size: 6em;
    font-family: 'Bentham', serif;
    color: #e7e7e7;
    letter-spacing: 10px;
    margin-bottom: -110px;
    font-weight: 100;
}
p {
    font-size: 1.2em;
    font-family: 'Bentham', serif;
    line-height: 0.69em;
    color: #fff;
    margin-top: 0.4em;
    letter-spacing: 0.08em;
}
p.about-me {
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    line-height: 2em;
    color: #fff;
    letter-spacing: 0.3px;
}
l.fill {
  color: #DFC7A4;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  font-weight: bold;
}
l.fill:hover {
  background-color: #1a88ff;
  color: white;
  text-decoration: underline;
}

.moving-zone {
    position: absolute;
    top:30%; left:47%;
    width:300px; height:120px;
    margin:-60px 0 0 -150px;
    perspective: 800px;
}
.popup {
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px 0 20px 0;
    transform-style: preserve-3d;
}
.popup:before {
    content: '';
    position: absolute;
    left:5%; top:5%;
    width:90%; height:90%;
    border-radius: inherit;
    transform: translateZ(-100px);
}
.popup-text {
    font-size: 5em;
    font-family: 'Bentham', serif;
    color: #e7e7e7;
    letter-spacing: 1em;
    font-weight: 100;
    text-align: center;
    transform: translateZ(15px);
    animation: neon .6s ease-in-out infinite alternate;
}

  @keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(255,255,255,0.92),
      0 0 30px rgba(255,255,255,0.34),
      0 0 12px rgba(0,255,255,0.52),
      0 0 21px rgba(0,255,255,0.92),
      0 0 34px rgba(0,255,255,0.78),
      0 0 54px rgba(0,255,255,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(255,255,255,0.98),
      0 0 30px rgba(255,255,255,0.42),
      0 0 12px rgba(0,255,255,0.58),
      0 0 22px rgba(0,255,255,0.84),
      0 0 38px rgba(0,255,255,0.88),
      0 0 60px 
              rgba(0,255,255,1);
    }
  }

  .typewrite {
    font-size: 0.5em;
    line-height: 0.8em;
    font-family: 'Bentham', serif;
  }