body {
    margin: 60px auto;
    width: 80%;
}
nav ul, footer ul {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #1a88ff;
}
a:hover {
    text-decoration: underline;
}
a2 {
    text-decoration: none;
    color: #999;
}
a2:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    color: #e7e7e7;
}
p {
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    color: #e7e7e7;
}
l.fill {
  color: #1a88ff;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  font-weight: bold;
}
l.fill:hover {
  background-color: #1a88ff;
  color: white;
  text-decoration: underline;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
